/*@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}*/
html{
	background-image: url('bake1.jpg'); /*'bake1.JPG'*/ 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover ;/* 1600px;*/
	/*-webkit-background-size: 100% auto; 
	-moz-background-size: 100% auto; 
	background-size: 100% auto;*/
	background-color: darkgrey;
	background-attachment: fixed; /*scroll;*/
	min-width:100%;
	min-height:100%;
	left:0;
	/*margin: 0px;
	width: 100%;
	height: auto;
	position: absolute;*/
}
body{
	margin: 0px;
}
/*html,body{
	height:100%;
	width:100%;
} */

.contentbox{

	font-family: 'Open Sans Condensed',"Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	color: black;
	box-shadow: 0px 0px 30px -5px black inset;
	width: 1200px;
	height: 550px;
	margin: 170px auto 0 auto ;
	display: block;	
	background:#fff;
	/* rounded corners? */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	
  z-index: 2;
	
}



h1 {
	font-family: 'Open Sans Condensed', Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, sans-serif; /* cool font 'Open Sans Condensed', */
	font-weight: 500;
	font-size: 93px;
	text-align: center;
	margin: 0 0 0 0;
	text-shadow: 0px 0px 17px rgb(7, 28, 110); /* blue shadow*/
	color: #1E42CF;/*  blue font*/
	position: relative;
	top:60%;
}


#main {/* OLD WEBSITE
	margin-top:1000px;
	
	margin-right: auto;
	margin-bottom: -25px; /* for footer*/
	/*margin-left: auto;
	background: rgba(2, 2, 1, 0.1);
	position:relative;
	min-height: 100%; /* for footer*/
	/*box-shadow: 0px 0px 1759px 3px black inset;
	width: 800px;
	font-family: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	color: #fffcfc;/* white for font*/
	
	/*Previous
	 * background: linear-gradient(#3A3E46,#353638);
	box-shadow: 0px 0px 75px 20px black*/

	/* rounded corners? */
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	/*-khtml-border-radius: 10px; /* for old Konqueror browsers */
	
}





/* too chunky...
.divider {
	background-color: #fffcfc;
	width: 100%;
	height: 8px;
	box-shadow: 0px 0px 15px 0px black inset;
	
}
*/
#ourstorybox{

	background-color: rgba(32, 32, 32, 0.9);
}
.storytime a{
	color:#1E42CF; /*#1E42CF*/
	text-shadow: 2px 2px 2px black;
}

.storytime{
	bottom: 0px;
	font-family:'Allura', "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-size: 35px;
	color: white;
	text-align: center;	
	
	display:block;
	width: 1005px;
	margin-left: auto;
	margin-right: auto;

	text-shadow: 2px 2px 4px gray; /*rgb(204, 166, 68)*/
	z-index: 10;

}
.centered{
	width: 550px;
	margin: 0 auto;
	positions: relative;
}
.slideshow
{ 	
	/* background-color: black; */
	/* box-shadow:  5px 5px 25px 0px black; */
	width: 1005px;
	height: 365px;
/*	background-image: url('hotkorambiedes.jpg'); /*korambiedes.jpg');
 *	background-repeat: no-repeat;
 *	background-size: contain;*/
	margin: auto;
	
	top: 54px;
	margin-bottom: 0;
	z-index=0;

}

#facebook {
	position: fixed;
  z-index:0;
	bottom: 22px;
	right: 0;
}
.images{
	width: 550px;
	height: 365px;
	box-shadow: 5px 5px 25px 0px black;
	margin:  auto;
}

#dotbox{
	display: block;
	position: relative;
	width:  500px;
	height: 15px;
	margin: 116px auto;
	z-index: 5;
	text-align: center;
}
#dotbox a{
	margin: 0 10px;
	color: darkgray;
	background-color: darkgray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.contentbox #infobox{
       	box-shadow:0 0 0 white;
}
#infobar{

	/* repetitive font-family: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/		
	margin-top: 20px;
	font-size: 25px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	color: white;
	padding: 2px 4px;
	background-color: #3d63b8; /* info blue*/

}
#map
{
	margin-top: -6px;
	margin-left: 1px;
	margin-right: 60px;
	width: 535px;
	display: inline-block;
	}
#menubox{

	background-color: rgba(250, 252, 248, 0.9);
}
#menutitle {
	font-family: 'Open Sans Condensed', "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	font-weight: 500;
	font-size: 66px;
	text-align: right;
	color:  #1E42CF;/*#3d63b8;*/
	margin: -15px 143px -29px 74px;
	/* text-shadow: 1px 89px 10px rgb(0, 15, 192); *//
	 z-index:inherit;
}
#pastryline {
    border: 0;
    height: 1px;
    margin: 0 auto;
    z-index:2;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
/*#pastryline2 {
	color: darkgray;
    border: 0;
    
	height: 1px;
    margin: 0 auto;
    z-index:2;
    
	z-index: 1;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}*/
#line{ 
	display: block;
	position: relative;
	left: 440px;
	top: 34px;
	width: 700px;
	z-index:2;
}

#menulist{
	color: white;
	
	text-decoration: none;
		
	display: inline-block;
	position: relative;
	float: left;
	font-size: 25px;
	box-shadow: 0px 0px 30px -11px inset;
	background-color: grey;
	height: 285px;
	width: 302px;
 	
	/*padding: 0px 13px 50px 1px;*/
	margin: 32px 0 0 15px ;
	-moz-border-radius: 5px 30px 10px 5px;
	-webkit-border-radius: 5px 30px 10px 5px;
	border-radius: 5px 30px 10px 5px;
	-khtml-border-radius: 5px 30px 10px 5px;
	 z-index:inherit;
}

.menulist :hover {
	color: black;
	 z-index:inherit;
}
.menulist{
	height: 40px;
	width: 250px;

	margin:  10px 0;
	z-index:inherit;
}

#menuitems{
	display:inline-block;
  position: relative;
  float:left;
	margin-left: 100px;	
	margin-top: 94px;
	width: 365px;
	height: 305px;
	z-index:inherit;
	
}
.item{
	display: inline-block;
	position: absolute;
	padding: 5px;
	width:365px;
		
	height: 305px;
	/*top: 181px;
	right: 603px;*/
	background-color: #1E42CF;
	-moz-border-radius: 5px 10px 5px 10px;
	-webkit-border-radius:  5px 10px 5px 10px;
	border-radius: 5px 10px 5px 10px;  
	-khtml-border-radius: 5px 10px 5px 10px;
	z-index:inherit;
}
.foodimage{
	display: inline;
	position: relative;
	margin: 5px 0 0 7px;
	width: 550px;
	height: 365px;
	top: 8px;
	 z-index:inherit;
}
.fooddescription{
	display: block;
	position: relative;
	text-align: left;
	max-width: 350px;
	margin: 7px 0 0 8px;
	color: rgb(228, 228, 228); /*#fffcfc; /* white for font*/
	font-family: 'Allura', 'Allura', "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
	font-size: 12px;
	 z-index:inherit;
}

#formbox{
	display:inline-block;
	position: relative;
	margin-left: 100px;
	margin-top:157px;
	float:left;
	/*top: 248px;*/
	/*right: 268px;*/
	width: 302px;
	height: 285px;
	text-align: center;
	background-color:black;
	-moz-border-radius: 10px 5px 5px 30px;  
	-webkit-border-radius: 10px 5px 5px 30px;  
	border-radius: 10px 5px 5px 30px;  
	-khtml-border-radius: 10px 5px 5px 30px;
	 z-index:inherit;
}
#menul6{
	color: white;
	font-size:25px;
 	margin: 9px;h

}
form{

	font-size: 17px;
	color: white;
	
   z-index:inherit;
}


#titlebox{
     	position: relative;
  	width: 1200px;	
	margin: 80% auto 0 auto; /*535px (top)*/
	z-index: 0;
	text-align: center;
}

a{
		color:#fffcfc;
		text-decoration:none;
	}


#centerme div{
	display: inline;
       position: absolute;
	margin: 0 60px;
}
#ourstorytab {
	left:0px;
}
#infotab{
	right: 0px;
}
#menutab{
	left:305px;
}
#centerme {
	position: relative;
	display: block;
	text-align: center;
	width: 800px;
	margin: 0 auto;
}
#buttons
	{	
	position: relative;
	width: 1200px;
  height: 50px;
	padding: 0;
	list-style-type: none;
  margin: 12px auto 30px auto;
  /*bottom: 25px;*/
	text-align: center;
	font-size: 40px;
	
	text-shadow: 2px 2px 17px;/* was 40px for third*/
	font-family:'Open Sans Condensed', "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	z-index: 2;
}


#churchlink li {
	margin: 0 40px;
	display: inline;
}

#churchlink a {
	color: #f4f4f4;
	
}
#churchlink{
	text-align: right;
	margin: 0px;
	font-size: 18px;

	padding:0px;
/*	text-shadow: 0px 0px 1290px;
*/
}
#footer	{
	
	bottom: 0;
	width: 100%;/*1600px*/
	height: 27px;
	/* for sticking to bottom*/
	position: fixed;
	font-family: 'Open Sans Condensed', "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;


	text-align: right;
	background-color: grey;
	color: white;/* #f9f9f9;*/
	/* inherited already font-family: "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;*/


}


